{% extends 'base.html.twig' %}

{% block page_title %} Registrar Sesión {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                </div>
                {{ form_start(form) }}
                <div class="card-body">
                    {{ form_widget(form) }}
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" href="{{ path('session_index') }}">Regresar a la lista</a>
                    <input class="btn btn-primary" type="submit" value="Registrar Sesión"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
